{% extends "layout.html" %}
{% block body %}
     <br>
          <form action="{{ url_for('edit_page') }}" method="post" class="edit-page">
              <dl> <input type=hidden name="edit_id" value="{{ entry['id'] }}">
                <dt>Title:
                <dd><input type="text" size=30 name="edit-title" value="{{ entry['title'] }}">
                <dt>Text:
                <dd><textarea type="text" name="edit-contents" rows=5 cols=40>글을 수정하세요.</textarea>
                <dt>url:
                <dd><input type="text" size=30 name="edit-url" value="{{ entry['url'] }}">
                <dd><input type="submit" value="edit">
              </dl>
          </form>
{% endblock %}